<div class="card">
    <div class="card-header">
        <p>Created by {{fullPost.user.name}} on {{format_date fullPost.date_created}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{fullPost.title}}</h5>
        <p class="card-text">{{fullPost.post}}</p>
    </div>
</div>

<h3>Comments</h3>
{{#each fullPost.comments as |comment|}}
<div class="card">
    <div class="card-header">
        <p>{{comment.commenter.name}} commented on {{format_date comment.createdAt}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{comment.comment}}</p>
        <a href="#" class="btn btn-primary" id="deleteComment" data-id="{{comment.id}}">Delete Comment</a>
    </div>
</div>
{{/each}}
<br>
<div class=" newComment">
    <h3>Add a comment</h3>
    <br>
    <form class="form newComment-form" data-id="{{fullPost.id}}">
        <div class="form-group">
            <textarea name="blogPost" id="new-comment" cols="30" rows="3"></textarea>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="addComment">Add Comment</button>
        </div>
    </form>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/deleteComment.js"></script>