<div class="card">
    <div class="card-header">
        <p>Created by {{fullPost.user.name}} on {{format_date fullPost.date_created}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{fullPost.title}}</h5>
        <p class="card-text">{{fullPost.post}}</p>
        <a href="#" class="btn btn-primary">Add Comment</a>
    </div>
</div>

{{#each fullPost.comments as |comment|}}
<div class="card">
    <div class="card-header">
        <p>{{comment.commenter.name}} commented on {{format_date comment.createdAt}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{comment.comment}}</p>
        <a href="#" class="btn btn-primary">Delete Comment</a>
    </div>
</div>
{{/each}}